.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Dikeyde ortalamak yerine yukarıdan başlat */
  padding-top: 5vh; /* Yukarıdan biraz boşluk bırak */
  font-size: calc(10px + 2vmin);
  color: white;
  overflow-y: auto; /* Eğer içerik sığmazsa kaydırma çubuğu çıksın */
}
